<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="controller.js"></script>
<meta charset="UTF-8">
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">

		<form>

			Id: <input type="number" ng-model="id" readonly>
			
			Nome: <input type="text" ng-model="nome">
			
			Data: <input type="date" ng-model="data">
			

			<button ng-click="salvar()">salvar</button>
			<button ng-click="get()">get</button>

		</form>
		
		<br>
		<br>
		<br>
		<br>

		<table border="1">
			<tr>
				<th>id</th>
				<th>nome</th>
				<th>dia</th>
				<th>valor</th>
				<th>ações</th>
			</tr>
			<tr ng-repeat="servico in servicos">
				<th>{{servico.id}}</th>
				<th>{{servico.nome}}</th>
				<th>{{servico.data}}</th>
				<th>Não definido!</th>
				<th>editar | excluir</th>
			</tr>
		</table>

	</div>

</body>
</html>
